---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Skills from '../components/Skills.astro'
import Experience from '..//components/Experience.astro';
import Studies from '..//components/Studies.astro';
import Courses from '..//components/Courses.astro';
import Contact from '..//components/Contact.astro';
import Footer from '..//components/Footer.astro';
import es from '../i18n/es.json';

const locale = 'es';
---

<Layout title="Porfolio Pablo Torres">
	<main>
		<Navbar translations={es} locale={locale}/>
		<About translations={es} locale={locale}/>
		<Project translations={es} locale={locale}/>
		<Skills translations={es} locale={locale}/>
		<Experience translations={es} locale={locale}/>
		<Studies translations={es} locale={locale}/>
		<Courses translations={es} locale={locale}/>
		<Contact translations={es} locale={locale}/>
		<Footer translations={es} locale={locale}/>
	</main>
</Layout>

<style>
	
</style>
